---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";


---

<BaseLayout pageTitle={pageTitle}>
  <h2>... si despre acest site realizat cu Astro</h2>

  <p>
    Am realizat acest site urmarind tutorialul <a href="https://astro.build/">Astro </a>
    
  </p>

  <p>
    Pe masura ce imi dezvolt cunostintele, voi continua sa imbunatatesc acest site.
  </p>

  

  
  
    
  
</BaseLayout>