---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";


---

<BaseLayout pageTitle={pageTitle}>
  <h2>Aparat cu 3 lungimi de undă - Alexandrite, Diodă și ND-YAG.</h2>

  <p>
    Rezultate vizibile după prima ședință.
    
  </p>

  <p>
    aici poate pun totusi harta si nr de telefon.
  </p>

  

  
  
    
  
</BaseLayout>