---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Oferte";

---
<BaseLayout pageTitle={pageTitle}>
  <h2>Epilare progresiv definitivă într-un mediu plăcut.</h2>
<p>Avem următoarele oferte in prezent:</p>
  <ol>
<li>Habar n am mamica</li>
<li>Habar n am mamica</li>
<li>Habar n am mamica</li>
<li>Habar n am mamica</li>
<li>Habar n am mamica</li>
<li>Habar n am mamica</li>
  </ol>
  
</BaseLayout>