---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
const pageTitle = "Rezultate";

import { Image } from 'astro:assets';

const imageFiles = await Astro.glob('../assets/images/*');
---



<BaseLayout pageTitle={pageTitle}>
  <h2>Un subtitlu cinstit de dragul esteticii</h2>
  


  <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-3 mb-5 mx-auto w-full px-4">
    {
      imageFiles.map((img) => (
        <Image
          class="galerie"
          src={img.default}
          width="300"
          alt="fluturi"
          class="mb-3 w-full rounded"
          loading="lazy"
        />
      ))
    }
  </div>
  
  
  <Container />
  
</BaseLayout>