---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
const pageTitle = "Acasa";

---
<BaseLayout pageTitle={pageTitle}>
  <h2>Un subtitlu cinstit de dragul esteticii</h2>
  <Container />
  
  
</BaseLayout>