---

import Header from '../components/Header.astro';
import Stanga from '../components/Stanga.astro';
import Dreapta from '../components/Dreapta.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from "astro:transitions";
import '../styles/global.css';

const { pageTitle } = Astro.props;
---
<html lang="ro">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <Stanga />
    <Dreapta />
    
    
    
      
  

    <Header />
    <h1 transition:animate="slide">{pageTitle}</h1>
    
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>